ctrl_interface=DIR=var/run/wpa_supplicant GROUP=netdev # system will pick and run this file after boot
update_config=1                                        
country=IN                                             # enter your country code

network={
scan_ssid=1                                            # starting the wifi scan automatically
ssid=""                                                # enter the wifi name 
psk=""                                                 # enter the password of the wifi
}

#Save this code in a file named "wpa_supplicant.config" in sd card 
